.footer {
  width: 100%;
  background-color: #028955;

  color: #fff;
  padding: 2em 0;
  bottom: 0;

  &-logo-Icon {
    height: 200px;

    &-container {
      height: 220px;
    }
  }

  &-title {
    font-weight: 800;
    font-size: 24px;
    color: #fff;
    margin: 5px;
  }
  &-subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin: 5px;
    &-link {
      color: rgb(96, 255, 60);
      margin-left: 15px;
    }
  }
  
}
